body {
  background-color: lightgoldenrodyellow;
}

div {
  border: 2px solid red;
  margin-top: 20px;
  background-color: lightblue;
  color: black;
  padding: 20px;
}

.ballon {
  text-align: center;
  padding: 0;
}

.ballon img {
  /* width: 308px;
  height: 344px; */
}

div h2 {
  font-size: 1.25rem;
}

div h1 {
  margin-top: 0;
  text-decoration: underline;
}

h4 {
  font-size: 80px;
}

/* p.blue {
  color: blue;
}

p.verdana {
  font-family: verdana;
}

p.big-text {
  font-size: 180%;
}

p.center {
  text-align: center;
} */

p.common-style {
  color: green;
  font-family: verdana;
  font-size: 180%;
  text-align: right;
} /*
style="text-align: center"*/
